body{
  background-image: radial-gradient(rgb(83, 220, 238),rgb(154, 228, 70));
  height: 90vh;
}

.navbar{
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 4px solid greenyellow;
  justify-content: center;
  align-items: center;
  max-width: 955px;
}

.logo {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}
h1{
  color: darkcyan;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 955px;
  /* background-color: burlywood; */
  background-image: radial-gradient(rgb(154, 228, 70),rgb(77, 180, 100));
  margin: auto;
  height: 60vh;
  padding: 1px 6px;
  border: 2px solid rgb(27, 185, 27);
  border-radius: 8px;
  overflow-y: auto;
  margin-bottom: 23px;
}

.message {
  background-color: wheat;
  width: 30%;
  margin: 11px 0px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.message:hover{
  background-color: darkgray;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

#send-container{
    text-align: center;
}

#messageInp{
    max-width: 907px;
    width: 90%;
    border-radius: 6px;
    border: 2px solid black;
    height: 30px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    background-color: greenyellow;
    font-weight: bolder;
}

.btn:hover{
  background-color: darkgray;
}